@model List<MedicoModel>
@{
    ViewData["Title"] = "Lista de Médicos";
}


<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn btn-outline-primary" role="button" asp-controller="Medico" asp-action="Criar">Adicionar</a>
</div>
<br />


@if (TempData["MensagemSucesso"] != null)
{
    <Center>
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    </Center>
}

@if (TempData["MensagemErro"] != null)
{
    <Center>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    </Center>
}

<h1>Listagem de Médicos</h1>

<table class="table table-bordered table-dark" id="table-medico">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Especialidade</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Celular</th>
            <th scope="col" class="text-center">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())//Pergunta se a model não é nula e possui informação dentro
        {
            foreach (MedicoModel medico in Model)
            {
                <tr>
                    <th scope="row">@medico.Id</th>
                    <td>@medico.Nome</td>
                    <td>@medico.Especialidade</td>
                    <td>@medico.Email</td>
                    <td>@medico.Celular</td>
                    <td>
                        <center>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-warning" asp-route-id="@medico.Id" asp-controller="Medico" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@medico.Id" asp-controller="Medico" asp-action="Apagar">Apagar</a>
                            </div>
                        </center>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd"><td valign="top" colspan="6"><center>Nenhum Médico Encontrado</center></td></tr>
        }
    </tbody>
</table>