@model List<UsuarioModel>
@{
    ViewData["Title"] = "Lista de Usuários";
}

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn btn-outline-primary" role="button" asp-controller="Usuario" asp-action="Criar">Adicionar</a>
</div>
<br />


@if (TempData["MensagemSucesso"] != null)
{
    <Center>
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    </Center>
}

@if (TempData["MensagemErro"] != null)
{
    <Center>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    </Center>
}

<h1>Listagem de Usuários</h1>

<table class="table table-bordered table-dark" id="table-paciente">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">Nome</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Perfil</th>
            <th scope="col" class="text-center">Data de Cadastro</th>
            <th scope="col" class="text-center">Opções</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())//Pergunta se a model não é nula e possui informação dentro
        {
            foreach (UsuarioModel usuario in Model)
            {
                <tr>
                    <th scope="row">@usuario.Id</th>
                    <td>@usuario.Nome</td>
                    <td>@usuario.Email</td>
                    <td>@(usuario.Perfil == Sisteminha.Enums.PerfilEnum.Admin ? "Administrador" : "Padrão")</td>
                    <td>@usuario.DataCadastro</td>
                    <td>
                        <center>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-warning" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@usuario.Id" asp-controller="Usuario" asp-action="Apagar">Apagar</a>
                            </div>
                        </center>
                    </td>
                </tr>
            }
        }
        else
        {
        <tr class="odd"><td valign="top" colspan="7"><center>Nenhum Usuário Encontrado</center></td></tr>    
        }
    </tbody>
</table>

